<app-header-nav></app-header-nav>
<h2 class="text-5xl text-gray-700 mt-10 text-center mr-16">Gallery</h2>
<h4 class="text-xl text-center mt-10 mr-10"> Check out some photos of our work!</h4>

<div class="grid grid-cols-4 mt-10">
     <!-- Card 1 -->
     <div class="lg:m-4 shadow-lg hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
      <!-- Title 1 -->
        <h2 class="text-3xl font-mono ml-16 mb-10 mt-5">Concrete Driveways</h2>
          <!-- Card Image -->
        <img src="../../assets/driveway.jpeg" alt=""class="overflow-hidden h-80 w-full rounded-lg">
         <!-- Card Content -->
         <div class="p-4 my-10 mx-auto w-full">
            <a href="" class="hover:bg-gray-700 rounded-full py-2 px-3 font-semibold hover:text-white bg-gray-400 text-gray-100 ml-32">See Photos</a>
        </div>
      </div>
       <!-- Card 2 -->
       <div class="lg:m-4 shadow-lg  hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
        <!-- Title 2-->
        <h2 class="text-3xl font-mono ml-32 mb-10 mt-5">Sidewalks</h2>
        <!-- Card Image -->
        <img src="../../assets/sidewalk.jpeg" alt=""class="overflow-hidden h-80 w-full rounded-lg">
        <!-- Card Content -->
        <div class="p-4 my-10 mx-auto w-full">
            <a href="" class="hover:bg-gray-700 rounded-full py-2 px-3 font-semibold hover:text-white bg-gray-400 text-gray-100 ml-32">See Photos</a>
        </div>
      </div>
       <!-- Card 3 -->
       <div class="lg:m-4 shadow-lg hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
        <!-- Title 3-->
        <h2 class="text-3xl font-mono ml-36 mb-10 mt-5" >Pools</h2>
        <!-- Card Image -->
        <img src="../../assets/pool.jpeg" alt=""class="overflow-hidden h-80 w-full rounded-lg">
           <!-- Card Content -->
           <div class="p-4 my-10 mx-auto w-full">
            <a href="" class="hover:bg-gray-700 rounded-full py-2 px-3 font-semibold hover:text-white bg-gray-400 text-gray-100 ml-32">See Photos</a>
        </div>
      </div>
       <!-- Card 4 -->
       <div class="lg:m-4 shadow-lg hover:shadow-lg hover:bg-gray-100 rounded-lg bg-white my-12 mx-8">
           <!---Title 4-->
           <h2 class="text-3xl font-mono ml-28 mb-10 mt-5">Foundations</h2>
        <!-- Card Image -->
        <img src="../../assets/foundation.jpeg" alt=""class="overflow-hidden h-80 w-full rounded-lg">
           <!-- Card Content -->
           <div class="p-4 my-10 mx-auto w-full">
            <a href="" class="hover:bg-gray-700 rounded-full py-2 px-3 font-semibold hover:text-white bg-gray-400 text-gray-100 ml-32">See Photos</a>
        </div>
      </div>
</div>